<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home_page</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>

<body>
<h1>Welcome to {{name}} Website</h1>

<a href="/addstudent">Click here to add student</a><br>
<a href="/adddepartment">Click here to add department</a><br>
<a href="/addhod">Click here to add HOD</a><br>
<a href="/viewstudent">Click here to view student</a><br>
<a href="/viewdepartment">Click here to view department</a><br>
<a href="/viewhod">Click here to view HOD</a><br>
</body>
</html>