<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Update HOD</title>
    <link rel="stylesheet" href="/static/css/update.css">
</head>

<body>
 <h2>Update HOD</h2>
    <form action="/updatehodtodb" method="POST">
        <table>
            <tr>
                <td>Enter HOD id</td>
                <td><input type="text" name="hid" value={{rows[0][0]}} readonly > <span class="required">*</span></td>
            </tr>
            <tr>
                <td>Enter the HOD name</td>
                <td><input type="text" name="hname" value={{rows[0][1]}} required>  <span class="required">*</span> </td>
            </tr>
            <tr>
                <td>Enter the HOD phone number</td>
                <td><input type="text" name="hphone" value={{rows[0][2]}} required> <span class="required">*</span></td>
            </tr>
            <tr>
                <td><input type="submit" value="save"></td>
            </tr>
        </table>
    </form>
</body>

</html>